#conteneur
{
    display: flex;
    flex-wrap: wrap;
}
.element{
	margin-right:50px;
	width: 300px;
}
.card-title{
	text-align:center;
}
.p{
	text-align:center;
}
.desc{
	text-align:center;
}
.card-action{
	text-align:center;
}